@import "vars";
@import "libs";
@import "fonts";

body {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  color: #fff;
  margin: 0;
  line-height: 1.2;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* intro
  ========================*/
.intro {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.title__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  color: #fff;
}
.title {
  font-weight: 300;
  font-size: 85px;
  text-transform: uppercase;
  width: 100%;
  padding: 30px 30px;
  position: relative;
}

.title-underline:after {
  content: "";
  display: block;
  width: 11%;
  height: 4px;
  background-color: #c69b6e;
  position: absolute;
  top: 48%;
  left: 44.5%;
}

.subtitle {
  font-weight: 600;
  position: relative;
}

/* header
  ========================*/
.header {
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  position: absolute;
  background: rgba(#2c2b29, 0.7);
}

/* logo 
  =========================*/
.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 35px 142px;
}
.logo img {
  margin-top: -50px;
  width: 170px;
}

/* navigation
  =========================*/
.nav__inner {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 1;
  background-color: #2c2b29;
  transition: all 0.5s;
}
.menu.show {
  right: 0;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba($color: #2c2b29, $alpha: 0.95);
  padding: 10px 15px;
  transition: opacity 0.2s linear;
  .logo {
    img {
      display: none;
    }
  }
  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.header__inner.fixed .burger {
  display: none;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 10px 15px;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #c59966;
}

.nav__link:after {
  content: "";
  display: block;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.nav__link:hover:after {
  display: block;
  opacity: 1;
}

/* btn
  ============================== */

.intro a {
  background: url("../img/scroll.png") center no-repeat;
  width: 18px;
  height: 11px;
  margin: -90px auto 0;
  padding: 20px;
  position: relative;
  display: block;
}

.intro a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 1px solid #fff;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: opacity 0.2s linear;
}

.intro a:hover:after {
  display: block;
  opacity: 1;
}

/* about
  ============================== */

.about {
  width: 100%;
  height: auto;
}

.about__inner {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #1a1918;
  text-align: center;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

.mainhead {
  font-size: 80px;
  text-transform: uppercase;
  margin: 100px 0 30px;
}

.subhead {
  font-weight: 600;
  position: relative;
}

/* goals
  ============================== */

.goals p {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  font-size: 15px;
  color: #000000;
  line-height: 1.5;
  position: relative;
  padding-top: 10px;
}

.goals img {
  float: left;
  width: 70px;
  margin-right: 35px;
  margin-bottom: 100px;
  border: 1px solid #bdbdbd;
  padding: 20px;
}

.goals span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c59a6d;
}

.begin {
  width: 35%;
  height: auto;
  padding: 30px;
  border: 1px solid #bdbdbd;

  margin: 50px 0 50px 100px;
}

.award {
  width: 35%;
  height: auto;
  padding: 30px;
  border: 1px solid #bdbdbd;
  margin-left: auto;
  margin-right: 70px;
}

.office {
  width: 35%;
  height: auto;
  padding: 30px;
  border: 1px solid #bdbdbd;
  margin: 50px 0 0 100px;
}

/* timeline
  ============================== */
.timeline {
  position: absolute;
}
.timeline__inner {
  width: 1px;
  height: 680px;
  background-color: #bdbdbd;
  top: 420px;
  left: 700px;
  position: absolute;
}
.timeline__inner-dots--1,
.timeline__inner-dots--2,
.timeline__inner-dots--3 {
  width: 20px;
  height: 20px;
  background-color: #c59966;
  padding: 2px;
  border: 2px solid #fff;
  position: absolute;
  margin-bottom: 5px;
  color: #bdbdbd;
  font-size: 18px;
  display: block;
  left: -9px;
}
.timeline__inner-dots--1 span {
  padding-left: 35px;
  margin-top: -5px;
}
.timeline__inner-dots--2 {
  margin-top: 240px;
}
.timeline__inner-dots--2 span {
  margin-left: -105px;
  margin-top: -5px;
}
.timeline__inner-dots--3 {
  margin-top: 520px;
}
.timeline__inner-dots--3 span {
  padding-left: 35px;
  margin-top: -5px;
}
/* learnbtn
  ============================== */

.loadbtn {
  width: 170px;
  height: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 15px 10px;
  color: #c59a6d;
  margin: 50px auto;
  border: 1px solid #c59a6d;
  text-align: center;
  position: relative;
}

.loadbtn:after {
  content: "Дізнатися більше";
  padding: 10px 15px 10px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #c59a6d;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transition: opacity 0.2s linear;
}

.loadbtn:hover:after {
  display: block;
  opacity: 1;
}

/* endline 
  =============================*/

.about__inner:after {
  content: "";
  display: block;
  width: 170px;
  height: 1px;
  margin: 50px auto 0;
  background-color: #cccccc;
}

/* team
  =============================*/

.team {
  width: 100%;
  height: auto;
}

.team__inner {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0;
}

.members {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.member {
  width: 20%;
  margin: 30px 15px 100px;
  text-align: center;
}

.portret {
  border: 1px solid #cccccc;
  padding: 10px;
  height: 375px;
}

.gray__text {
  color: #cccccc;
  font-weight: 400;
}

.member .member__person {
  font-size: 16px;
  color: #c59a6d;
  font-size: 16px;
  color: #c59a6d;
  margin-top: 30px;
  margin-left: 2px;
}

/* icons
  =============================*/
.icons {
  width: 100%;
  max-width: 800px;
  margin: 15px 0 0;
}

.icons img {
  width: 23px;
  height: 23px;
  margin-right: 2px;
  padding: 5px;
}

.icon {
  position: relative;
  width: 23px;
  height: 23px;
}

.icon:after {
  content: "";
  display: block;
  border: 1px solid #cbcbcb;
  width: 100%;
  height: 123%;
  opacity: 0;
  position: absolute;
  top: -8px;
  left: -1px;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.icon:hover:after {
  display: block;
  opacity: 1;
}

/* works 
  =====================*/

.works {
  width: 100%;
  height: auto;
  background-color: #000000;
}

.works__inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
}

.heading.work__head {
  color: #ffffff;
}

.work__item {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  height: auto;
  margin: 75px auto 100px;
}

.work__item img {
  width: 100%;
  padding: 15px;
  border: 1px solid #1b1a18;
  margin-bottom: 35px;
}

.items {
  width: 100%;
  padding: 15px;
}
.work__item .items__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #c59a6d;
  margin-bottom: 20px;
  position: relative;
}

.work__item .items__subtitle {
  color: #cccccc;
  font-weight: 400;
  ul {
    padding-right: 10px;
    li {
      padding-top: 5px;
    }
  }
}

.work__item .items__title:after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #c69b6e;
  position: absolute;
  top: 140%;
  left: 140px;
}

/* slider
  =====================*/
.slider {
  position: relative;
}

.slick-active,
.slick-arrow,
.slick-dots button,
.slick-slide {
  outline: none;
}

.slick-track {
  position: relative;
}

.slick-arrow {
  position: absolute;
  bottom: -70px;
  z-index: 10;
  font-size: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 45%;
  background: url("../img/lefticon.png") center no-repeat;
  width: 18px;
  height: 11px;
  padding: 20px;
}

.slick-next {
  right: 45%;
  background: url("../img/righticon.png") center no-repeat;
  width: 18px;
  height: 11px;
  padding: 20px;
}

.slick-prev:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.slick-prev:hover:after {
  display: block;
  opacity: 1;
}

.slick-next:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.slick-next:hover:after {
  display: block;
  opacity: 1;
}

.slick-dots {
  position: absolute;
  bottom: -22%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border: 1px solid #fff;
  padding: 0;
  margin: 0 8px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li.slick-active button {
  background-color: #c59a6d;
  border: none;
}

/* services
  =====================*/

.services {
  width: 100%;
  height: auto;
}

.services__inner {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 100px 0 0;
}

/* services__heading
  =====================*/

.services__heading {
  width: 100%;
  text-align: center;
  color: #1a1918;
}

.services__heading .services__heading-title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
}

.services__heading .services__heading-subtitle {
  font-weight: 600;
  margin-top: 20px;
}

/* services__item
  =====================*/
.services {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
  justify-content: center;
}

.service__inner img {
  width: 130px;
  height: 130px;
  padding: 35px 37px;
  border: 1px solid #e9e9e9;
  margin: 0 0;
}

.service__inner {
  width: 33.33333%;
  text-align: center;
  padding: 0 60px;
  margin: 50px auto 100px;
}

.service__inner .service__inner-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c59a6d;
  margin: 25px 0;
}

.service__inner .service__inner-subtitle {
  color: #1a1918;
  font-weight: 400;
}

/* line
   ==================*/

.services__inner:after {
  content: "";
  display: block;
  width: 175px;
  height: 1px;
  background-color: #cccccc;
  margin: 0 auto;
}

/* line
   ==================*/

.prices {
  width: 100%;
  height: auto;
}

.prices__inner {
  max-width: 1230px;
  margin: 0 auto;
  padding: 100px 0 0;
}

/* prices__item
  =====================*/

.prices__item {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 22%;
  height: 500px;
  background-color: #f6f6f6;
  margin: 100px 15px;
  color: #191817;
  text-align: center;
  position: relative;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.prices__text {
  width: 100%;
  margin-bottom: 50px;
  padding: 0 30px;
}

.item .prices__text-level {
  text-transform: uppercase;
  font-size: 16px;
  color: #c59a6d;
  font-weight: 700;
  margin-top: 50px;
}

.item .prices__text-price {
  font-size: 72px;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.item .prices__text-term {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  padding: 0 0 30px 0;
  margin: 0 0 30px;
}

.item ul {
  list-style: none;
  padding-left: 0;
}
.item li {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 15px;
}

.item .prices__text-term:after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #c69b6e;
  position: absolute;
  top: 100%;
  left: 35.25%;
  z-index: 1;
}

.item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 45px;
  color: #c59a6d;
  width: 75%;
  border: 1px solid #c59a6d;
  position: absolute;
  top: 90%;
  left: 12%;
}

.item a:after {
  content: "Придбати";
  color: #fff;
  display: block;
  padding: 11px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #c59a6d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: opacity 0.2s linear;
}

.item a:hover:after {
  display: block;
  opacity: 1;
}

/* catchy
  =====================*/

.catchy {
  width: 100%;
  height: 350px;
}

/* testimonials
  =====================*/

.testimonials {
  width: 100%;
  height: auto;
}

.testimonials__inner {
  width: 100%;
  max-width: 830px;
  text-align: center;
  color: #191918;
  margin: 100px auto 0;
}

.testimonials__inner img {
  width: 300px;
  padding: 10px;
  border: 1px solid #c8c8c8;
  margin: 30px auto;
}

.testimonials__inner p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.testimonials__inner .testimonial__name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 85px;
  position: relative;
}

.testimonials__inner span {
  font-size: 12px;
  font-weight: 600;
}

.testimonials .slick-dots {
  bottom: 5%;
}

.testimonials .slick-dots button {
  background-color: #fff;
  border: 1px solid #c8c8c8;
}

/* facts
  =====================*/

.facts {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.facts__inner {
  width: 100%;
  max-width: 1230px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.facts__inner .mainhead,
.facts__inner .subhead {
  color: #fff;
}

.facts__group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.facts__item img {
  float: left;
  margin: 10px 30px 90px 0;
}

.facts__item {
  width: 25%;
  text-align: left;
  padding-left: 15px;
}

.facts__item .facts__item-number {
  margin: 0 0;
  font-size: 72px;
  font-weight: 700;
}

.facts__item span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #c5996c;
}

/* contact
  =====================*/

.contact {
  width: 100%;
  height: auto;
}

.contact__inner {
  max-width: 1230px;
  color: #191918;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 0;
}

.contact__inner .contact__inner-title {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 15px;
}

.contact__inner .contact__inner-subtitle {
  margin-bottom: 70px;
}

.contact__info {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.contact__info form {
  width: 32.5%;
}

.contact__info input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 15px;

  background-color: #f6f6f6;
  border: 1px solid #cccccc;
}

.message {
  width: 100%;
  padding-top: 15px;
}

.message textarea {
  top: 0;
  width: 95%;
  height: 200px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 15px;
  background-color: #f6f6f6;
  border: 1px solid #cccccc;
}

.submit__btn input {
  width: 220px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #c59a6d;
  border: none;
  margin: 60px 0 100px;
  cursor: pointer;
}

.contact__info input,
.message textarea,
.submit__btn input {
  outline: none;
}

/* find us
  =====================*/

.findus {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.findus__inner {
  width: 100%;

  text-align: center;
  padding: 100px 0 0;
}

.findus__inner .findis__inner-title {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 15px;
}

.findus__inner .findis__inner-subtitle {
  font-weight: 600;
  margin-bottom: 60px;
}

.findus__group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  align-items: center;
}

.findus__item {
  width: 33.33333%;
  text-align: left;
  line-height: 10px;
  margin-bottom: 100px;
  padding-left: 30px;
}
.findus__item a {
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
}
.findus__item img {
  float: left;
  margin: 0 25px 90px 0;
}

.findus__item .findus__item-contact {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c5996c;
}

.findus__item ul {
  list-style: none;
  padding-left: 0;
}
.findus__item li {
  padding: 5px;
}
/* footer
  =====================*/

.footer {
  width: 100%;
  height: auto;
}

.footer__inner {
  width: 100%;
  max-width: 1230px;
  color: #191918;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 30px;
}

.footer__inner img {
  width: 15px;
  height: 15px;
  margin: 15px 0 0 20px;
}

.copy__item {
  position: relative;
}

.copy__item:after {
  content: "";
  display: block;
  border: 1px solid #cbcbcb;
  width: 73%;
  height: 132%;
  opacity: 0;

  position: absolute;
  top: -5px;
  left: 15px;
  z-index: 1;

  transition: opacity 0.2s linear;
}

.copy__item:hover:after {
  display: block;
  opacity: 1;
}

.header__inner button {
  cursor: pointer;
}

.burger {
  display: none;
  background: none;
  border: 0;
  padding: 9px 2px;
  outline: none;
  z-index: 2;
}

.burger:hover {
  color: #c59966;
}

.burger__item {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  z-index: 1;
}

.burger__item:before {
  top: -8px;
}

.burger__item:after {
  bottom: -8px;
}

@import "media";
